<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger Medlem</title>
    <!-- Side-titel, der vises i browserens fane -->
</head>
<body>

<h1>Rediger Medlem</h1>
<!-- Overskrift for siden -->

<!-- Formular for redigering af sprogdata. Thymeleaf bruges til at binde formularfeltet til det eksisterende sprogobjekt. -->
<!--/*@thymesVar id="member" type="com.example2semestereksamensprojekt2024.model.Member"*/-->
<form action="#" th:action="@{/saveMember1}" th:object="${member}" method="post">
    <!-- Skjult felt for sprog-ID, som ikke behøver at blive ændret af brugeren -->
    <input type="hidden" th:field="*{memberid}" />

    <!-- Inputfelt for navnet på brugeren -->
    <label for="name">Navn:</label>
    <input type="text" id="name" th:field="*{name}" />

    <!-- Inputfelt for efternavnet på brugeren -->
    <label for="surname">surname:</label>
    <input type="text" id="surname" th:field="*{surname}" />

    <!-- Inputfelt for email på brugeren -->
    <label for="email">breed:</label>
    <input type="text" id="email" th:field="*{email}" />

    <!-- Inputfelt for password på brugeren -->
    <label for="password">password:</label>
    <input type="text" id="password" th:field="*{password}" />

    <!-- Inputfelt for telefonnummer på brugeren  -->
    <label for="phone">phone:</label>
    <input type="text" id="phone" th:field="*{phone}" />

    <!-- Inputfelt for vægten på brugeren -->
    <label for="weight">weight:</label>
    <input type="text" id="weight" th:field="*{weight}" />

    <!-- Inputfelt for højden på brugeren -->
    <label for="height">height:</label>
    <input type="text" id="height" th:field="*{height}" />

    <!-- Inputfelt for alder på brugeren -->
    <label for="age">age:</label>
    <input type="text" id="age" th:field="*{age}" />

    <!-- Inputfelt for køn på brugeren -->
    <label for="gender">gender:</label>
    <input type="text" id="gender" th:field="*{gender}" />

    <!-- Inputfelt for mål på brugeren -->
    <label for="goals">goals:</label>
    <input type="text" id="goals" th:field="*{goals}" />

    <!-- Inputfelt for aktivitetsniveau på brugeren -->
    <label for="activitylevel">activitylevel:</label>
    <input type="text" id="activitylevel" th:field="*{activitylevel}" />

    <!-- Submit-knap for at gemme de redigerede oplysninger -->
    <button type="submit">Opdater</button>
</form>

<!-- Link til at vende tilbage til listen over programmeringssprog -->
<a href="/menu">Tilbage</a>

</body>
</html>