<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se tidligere kostplan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }
        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 30px;
            margin-top: 20px;
        }
        .day-column {
            background-color: #f2f2f2;
            border-radius: 8px;
            padding: 20px;
        }
        .day-column h2 {
            text-align: center;
            margin-bottom: 15px;
        }
        .meal {
            margin-bottom: 30px;
        }
        .meal h3 {
            margin-bottom: 20px;
        }
        .meal ul {
            list-style-type: none;
            padding: 0;
        }
        .meal ul li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="logo-container"> <!-- Logo container -->
    <a href="/menu" class="logo-link logo-container">
        <img src="/images/logo_minkostplan.jpg" alt="Logo" width="100" height="100">
    </a>
</div>
<div class="container">

    <h1>Tidligere kostplaner</h1>

    <div class="grid-container">
        <div class="day-column">
            <h2>Mandag</h2>
            <div class="meal">
                <h3>Morgenmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Frokost</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Aftensmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
        </div>
        <!-- Repeat for each day of the week -->
        <div class="day-column">
            <h2>Tirsdag</h2>
            <div class="meal">
                <h3>Morgenmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Frokost</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Aftensmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
        </div>
        <div class="day-column">
            <h2>Onsdag</h2>
            <div class="meal">
                <h3>Morgenmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Frokost</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Aftensmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
        </div>
        <div class="day-column">
            <h2>Torsdag</h2>
            <div class="meal">
                <h3>Morgenmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Frokost</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Aftensmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
        </div>
        <div class="day-column">
            <h2>Fredag</h2>
            <div class="meal">
                <h3>Morgenmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Frokost</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Aftensmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
        </div>
        <div class="day-column">
            <h2>Lørdag</h2>
            <div class="meal">
                <h3>Morgenmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Frokost</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Aftensmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
        </div>
        <div class="day-column">
            <h2>Søndag</h2>
            <div class="meal">
                <h3>Morgenmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Frokost</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
            <div class="meal">
                <h3>Aftensmad</h3>
                <ul>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                    <li> - </li>
                </ul>
            </div>
        </div>
        <!-- Remember to fill in the ingredients -->
    </div>

</div>

</body>
</html>