<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            background-color: #f8eeaa;
        }
    </style>
    <meta charset="UTF-8">
    <title>Liste over Måltider</title>
    <!-- Grundlæggende opsætning med meta tag og titel -->
</head>
<body>

<h1>Måltider</h1>

<!-- Link til at tilføje et nyt måltid -->

<!-- Starten på tabellen til at vise måltider -->
<table>
    <thead>
    <tr>
        <!-- Kolonneoverskrifter til tabellen -->
        <th>ID</th>
        <th>Navn</th>
        <th>Ingredienser</th>
        <th>Procedure</th>
        <th>Varighed</th>
        <th>Sværhedsgrad</th>
        <th>Kategorier</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterér gennem listen af måltider og vis hvert måltid -->

    <!--/*@thymesVar id="meal" type="com.example2semestereksamensprojekt2024.model.Meal"*/-->
    <tr th:each="meal : ${meals}">
        <!-- Vis værdierne for hvert måltid fra listen -->
        <td th:text="${meal.mealid}">ID</td>
        <td th:text="${meal.name}">Navn</td>
        <td th:text="${meal.ingredients}">Ingredienser</td>
        <td th:text="${meal.procedure}">Procedure</td>
        <td th:text="${meal.duration}">Varighed</td>
        <td th:text="${meal.difficulty}">Sværhedsgrad</td>
        <td th:text="${meal.categories}">Kategorier</td>
        <td>
            <!-- Link til at redigere et måltid -->
            <!--/*@thymesVar id="mealid" type="com.example2semestereksamensprojekt2024.model.Meal"*/-->
            <a th:href="@{/meal/edit/{id}(id=${meal.mealid})}">Rediger</a>
            <!-- Link til at slette et måltid -->
            <a th:href="@{/meal/delete/{id}(id=${meal.mealid})}" onclick="return confirm('Er du sikker på, at du vil slette dette måltid?');">Slet</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/adminmenu">Tilbage</a>
</body>
</html>